<div class="page-header">
  <h1>Top Heroes</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-3" *ngFor="let hero of randomHeroes">
    <div class="well well-lg text-center h4" (click)="goDetail(hero.id)">{{ hero.name }}</div>
  </div>
</div>

<div class="row">
  <h3 class="col-xs-12">Hero Search</h3>
  <div class="form-group">
    <div class="col-sm-3">
      <input type="text" class="form-control" placeholder="search ....">
      <div class="list-group">
        <a href="hero-detail.html" class="list-group-item">Hero 1</a>
        <a href="hero-detail.html" class="list-group-item">Hero 2</a>
        <a href="hero-detail.html" class="list-group-item">Hero 3</a>
      </div>
    </div>
  </div>
</div>
