<div class="page-header">
  <h1>My Heroes</h1>
</div>

<div class="form-inline">
  <div class="form-group">
    <label for="name">Hero Name: </label>
    <input type="text" class="form-control" id="name" placeholder="Hero's name">
  </div>
  <button class="btn btn-primary">新增</button>
</div>
<hr />

<!-- 清單 -->
<div class="list-group">
  <a class="list-group-item my-item" href="#" *ngFor="let hero of heroes">
    <span>{{ hero.id }}</span>{{ hero.name }}<span class="badge"> X </span>
  </a>
</div>
<!-- 清單結束 -->

<div>
  <h2>Bombasto is my hero.</h2>
  <a class="btn btn-info" href="hero-detail.html">View Details</a>
</div>
